#page-index{

  .banner h1{
    margin-top: 2rem;
  }

  .card{
    background: var(--primaria-dark);
    h5{ font-weight: var(--semibold); margin-bottom: 1.5rem;}

    .card-text{
      min-height: 120px;
    }

    .card-body .btn{
      font-weight: var(--semibold);
      border: 2px solid var(--primaria-light);
      min-height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: var(--radius-sm);
      transition: .3s ease-in-out;
    }

    &:hover .card-body .btn{
      background: var(--primaria-regular);
      border-color: var(--primaria-regular);
      transition: .3s ease-in-out;
    }
  }
}