.badge-primary {
  background-color: var(--primaria-regular);
}

.btn-primary {
  background-color: var(--primaria-regular);
  border: var(--primaria-regular);
}

.btn-primary:hover {
  background-color: #242a50;
  border: #242a50;
}