:root{
  --primaria-dark: #10163A;
  --primaria-regular: #30365A;
  --primaria-light: #DFE7F8;

  --branco: #ffffff;
  --cinza: #f5f6f7;

  --radius: 1rem;
  --radius-sm: .5rem;

  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
}