
.card-inicio {
  padding: 1.5rem 0;
  border-radius: var(--radius);
  background-color: var(--primaria-regular);
}
.card-inicio a {
  color: var(--branco);
}
.card-inicio a:hover {
  color: var(--branco);
}