.menu-lateral{
  z-index: 2;
  height: calc(100% - 64.4px);
  top: 64px;
  width: 216px;
  padding: 1.5rem;
  position: fixed;
  background: var(--primaria-dark);
  overflow-y: auto;
  border-right: 2px solid var(--primaria-regular);

  @media screen and (max-width: 1200px){ display: none;}


  > ul{ 
    list-style: none;
    padding-inline-start: 0;
  }


  .js &{
      visibility: hidden;
      left: -216px;
      transition: .3s ease;

      &.aberto{
          visibility: visible;
          left: 0;
          transition: .5s ease;
      }
  }


  ul {
      display:block;
      margin-bottom: 2rem;

      li {
      margin: 0.25rem 0;

      &:not(.modulo){ padding-left: 1rem;}

          &.modulo a{
              font-weight: bold;
              color: var(--primaria-light);
              font-size: 1.125rem;
          }

          a{  
              display: block;
              color: var(--primaria-light);
              padding: 0.25rem 0;
              font-size: 1rem;
              font-weight: 500;

              &:hover{ color: var(--primaria-light); transition: .3s ease;}

              &.selecionado{
                  color: var(--primaria-light);
                  font-weight: bold;
              }
          }
      }
  }




&::-webkit-scrollbar {
  padding: .25rem .25rem 0;
  width: 6px;
  height: 6px;
}
&::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
&::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,.24);
  border: 0px none #ffffff;
  border-radius: 50px;
}
&::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255,.48)
}
&::-webkit-scrollbar-thumb:active {
  background: rgba(255,255,255,.48)
}
&::-webkit-scrollbar-track {
  background: var(--primaria-regular);
  border: 0px none #ffffff;
  border-radius: 50px;
}

&::-webkit-scrollbar-corner {
  background: transparent;
}


}